<!DOCTYPE html>
<html lang="en">
    <section class="about top" id="about">
        <div class="container flex">
        <div class="left">
            <div class="img">
            <img src="/assets/angular/image/a1.jpg" alt="" class="image1">
            <img src="/assets/angular/image/a2.jpg" alt="" class="image2">
            </div>
        </div>
        <div class="right">
            <div class="heading">
            <h5>RAISING COMFOMRT TO THE HIGHEST LEVEL</h5>
            <h2>Welcome to Luviana Hotel Resort</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        </div>
    </section>
    <section class="wrapper top">
        <div class="container">
        <div class="text">
            <h2>Our Amenities</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

            <div class="content">
            <div class="box flex">
                <i class="fas fa-swimming-pool"></i>
                <span>Swimming pool</span>
            </div>
            <div class="box flex">
                <i class="fas fa-dumbbell"></i>
                <span>Gym & yogo</span>
            </div>
            <div class="box flex">
                <i class="fas fa-spa"></i>
                <span>Spa & massage</span>
            </div>
            <div class="box flex">
                <i class="fas fa-ship"></i>
                <span>Boat Tours</span>
            </div>
            <div class="box flex">
                <i class="fas fa-swimmer"></i>
                <span>Surfing Lessons</span>
            </div>
            <div class="box flex">
                <i class="fas fa-microphone"></i>
                <span>Conference room</span>
            </div>
            <div class="box flex">
                <i class="fas fa-water"></i>
                <span>Diving & smorking</span>
            </div>
            <div class="box flex">
                <i class="fas fa-umbrella-beach"></i>
                <span>Private Beach</span>
            </div>
            </div>
        </div>
        </div>
    </section>
</html>    