<h2>Your Reservations</h2>
<table>
  <thead>
    <tr>
      <th>Date From</th>
      <th>Date To</th>
      <th>Room Type</th>
      <th>Room View</th>
      <th>Room ID</th>
      <th>Reservation ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.date_from }}</td>
      <td>{{ reservation.date_to }}</td>
      <td>{{ reservation.room_type }}</td>
      <td>{{ reservation.room_view }}</td>
      <td>{{ reservation.room_id }}</td>
      <td>{{ reservation.reservation_id }}</td>
    </tr>
  </tbody>
</table>
