<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Booking</title>
      </head>
    <section id="reservation" class="booking">
        <div class="container">
            <form action="" class="book-form">
                <!-- <div class="input-group">
                    <label for="destination" class="input-label">Destination</label>
                    <input type="text" class="input" id="destination">
                </div> -->
                <div class="input-group">
                    <label for="check-in" class="input-label">Check-in</label>
                    <input type="date" class="input" id="check-in">
                </div>
                <div class="input-group">
                    <label for="check-out" class="input-label">Check-out</label>
                    <input type="date" class="input" id="check-out">
                </div>
                <div class="input-group">
                    <label for="room-type" class="input-label">Room Type</label>
                    <select name="options" id="room-types" title="Select Room Type">
                        <!-- <option value="0">Choose</option> -->
                        <option value="0">Single</option>
                        <option value="1">Double</option>
                        <option value="2">Suite</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="view" class="input-label">View</label>
                    <select name="options" id="view" title="Select View">
                        <!-- <option value="0">Choose</option> -->
                        <option value="1">Beach</option>
                        <option value="2">City</option>
                    </select>
                </div>
                <button (click)="searchForRooms()" type="submit" class="btn form-btn btn-purple">Search
                    <span class="dots"><i class="fas fa-ellipsis-h"></i> </span>
                </button>
            </form>
        </div>   
    </section>
</html>
