html,
body {
  height: 100%;
}

h1 {
  font-family: Roman;
  font-size: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #000;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.form-container {
  padding: 30px;
  max-width: 600px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
}

button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #8a2be2;
  color: #fff;
}

button[type="submit"]:hover {
  opacity: 0.8;
}

button[type="button"] {
  background-color: #fff;
  color: #8a2be2;
  border: 1px solid #8a2be2;
}

button[type="button"]:hover {
  background-color: #8a2be2;
  color: #fff;
  border: 1px solid #8a2be2;
}

button[type="button"]:focus {
  outline: none;
}

button:active {
  transform: translateY(2px);
}

.btn-danger {
  background-color: #ff0000;
  color: #fff;
}

.btn-danger:hover {
  background-color: #e60000;
  color: #fff;
}

.btn-warning {
  background-color: #ffc107;
  color: #000;
}

.btn-warning:hover {
  background-color: #ffbb33;
  color: #000;
}
.form-group > button {
  margin: 0.5rem;
}
.form-group > button:hover {
  color: #f2f2f2;
}

@media only screen and (min-width: 768px) {
  .form-container {
    width: 70%;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
}
