.form{
  align-items: center;
  justify-content: center;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  margin-bottom: 16px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.routes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.routes a {
  color: #8f50fb;
  font-weight: bold;
  text-decoration: none;
}

.routes a:hover {
  text-decoration: underline;
}

.routes-login{
  margin-left: 7px;
}

.center {
  text-align: center;
}

.welcome {
  margin-bottom: 20px;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.mat-form-field {
  margin-bottom: 20px;
}

.popup-button {
  align-self: center;
}

.error{
  color: red;
  font-size: 12px;
}