.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.welcome {
  margin-bottom: 20px;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.mat-form-field {
  margin-bottom: 20px;
}

.popup-button {
  align-self: center;
}
