<div class="container">
  <div class="header">
    <h2 class="center">Hotel Name</h2>
    <p class="center welcome">Welcome</p>
  </div>
  <form class="popup">
    <mat-form-field>
      <input matInput placeholder="Username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required>
    </mat-form-field>
    <button class="popup-button" mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</div>
