<div class="container">
  <div class="header">
    <h2 class="center">Hotel Name</h2>
    <p class="center welcome">Welcome</p>
  </div>
  <form class="popup" #signUpForm="ngForm" (ngSubmit)="onSignUp()">
    <mat-form-field>
      <input matInput placeholder="First name" required [(ngModel)]="firstName" name="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" required [(ngModel)]="lastName" name="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Date of Birth" type="date" required [(ngModel)]="dob" name="dob">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required [(ngModel)]="password" name="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone Number" type="number" required [(ngModel)]="phoneNum" name="phoneNum">
    </mat-form-field>
    <button class="popup-button" mat-raised-button color="primary" type="submit" (click)="onSignUp()">Sign Up</button>
  </form>
</div>
