<section class="location-section" id="location">
    <!-- <div class="container">  -->
    <!-- <div class="text">
            <h2>Our Location</h2>
            <p>Our hotel is located at:</p>
            <address>
                123 Main Street<br>
                City, State ZIP<br>
                Country
            </address>
            <p>For more information and directions, please contact us.</p>
            <button class="btn1">CONTACT US</button>
        </div>  -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.430437438202!2d35.64201981476651!3d34.00412348061118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f4129284f8a3f%3A0x9e90d4bcd38f8579!2sEdward%20V!5e0!3m2!1sen!2sus!4v1652524318591!5m2!1sen!2sus"
            title="Google Map of Edward V location" allowfullscreen></iframe>
    </div>
    <!-- </div> -->
</section>