.location-section {
  padding: 0;
  margin: 0;
  height: 50vh;
}

.map {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
}

.map iframe {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  bottom: 0;
}
