<!DOCTYPE html>
<html lang="en">
<footer class="site-footer">
    <div class="container">
      <nav class="footer-nav">
        <ul class="footer-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/rooms">Rooms</a></li>
          <li><a href="/reservations">Reservations</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </nav>
      <div class="footer-content">
        <p>&copy; 2023 Edward-V-Hotel. All rights reserved.</p>
      </div>
    </div>
  </footer>
</html>