body {
  font-family: "Poppins", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--purple-transparent-alt);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  text-align: center;
  margin-block-end: 8%;
  margin-block-start: 8%;
}

h3 {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  margin: auto;
  padding: 110px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
  width: 40%;
  border: #000;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

.form-group {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-group ::placeholder {
  color: white;
}

.submit-btn {
  margin-top: 20px;
  background-color: var(--purple-transparent-alt);
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--purple-transparent);
}

.resend-email {
  color: black;
  margin-top: 20px;
  text-align: center;
}

.resend-email a {
  color: var(--purple-transparent-alt);
  text-decoration: none;
}

.resend-email a:hover {
  color: var(--purple-transparent);
}

/* media queries for smaller screens */
@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
    padding: 50px;
  }
}

/* media queries for even smaller screens */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
    margin-block-end: 5%;
    margin-block-start: 5%;
  }

  .container {
    width: 90%;
    padding: 30px;
  }
}
