body {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: var( --purple-solid); */
    height: 100vh;
    width: 100%
  }

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-block-end: 8%;
    margin-block-start: 8%;
}

h3 {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    text-align: center;
    width: 40%;
    background-color: white;
}

.form-group input[type="email"] {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: var(--purple-transparent-alt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-group ::placeholder{
    color: white;
}


.resend-email {
    color: black;
    margin-top: 20px;
    text-align: center;
  }
  
.resend-email a {
  color: var(--purple-transparent-alt);
  text-decoration: none;
}