<!DOCTYPE html>
<html lang="en">
  <body background="assets/gold-background.jpg">
    <h1>Edward V Hotel</h1>
    <div class="container">
        <div class="text">
            <div class="sign-up"><h3>Forgot Password</h3></div>
            <div class="description"><p>Enter email for your account to reset your password</p></div>
        </div>
        <div class="form-group email">
            <label for="email"></label>
            <input type="email" name="email" required placeholder="Email:">
        </div>
        <div class="resend-email">
            <span>Didn't recive an email? Click here to <a href="#">resend email</a></span>
        </div>
    </div>
  </body>
</html>    