@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sacramento&display=swap');
.left-container {
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  flex-basis: 40%;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  column-gap: 0cap;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-block-end: 0%;
}

h3 {
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 60%;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  display: block;
  width: 150%;
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: #ecf6c1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registration-form button[type="submit"] {
  background-color: #dfd224;
  box-shadow: 0px 4px 61px #d1d403;
  border-radius: 9px;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  align-self: middle;
  margin-top: 20px;
  cursor: pointer;
}

.login-route {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.login-route a {
  color: #d1d403;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .left-container {
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
    margin-right: 50px;
  }

  .image-container {
    flex-basis: 35%;
  }

  .registration-form {
    margin: 0;
    padding: 50px;
  }
}