<!DOCTYPE html>
<html lang="en">
<h1>Edward V Hotel</h1>
<div class="container">
  <div class="left-container">
    <div class="left-text">
      <div class="sign-up"><h1>Sign Up</h1></div>
      <div class="description"><p>Join our community to get exclusive accses to our reward system when booking online!</p></div>
    </div>
  </div>
  <form class="registration-form">
    <div class="create-acc">
      <h3>Create an Account</h3>
    </div>
    <div class="form-group firstname">
      <label for="firstname"></label>
      <input type="text" name="firstname" required placeholder="First Name:">
    </div>
    <div class="form-group lastname">
      <label for="lastname"></label>
      <input type="text" name="lastname" required placeholder="Last Name:">
    </div>
    <div class="form-group email">
      <label for="email"></label>
      <input type="email" name="email" required placeholder="Email:">
    </div>
    <div class="form-group number">
      <label for="confirm-password"></label>
      <input type="text" name="text" required placeholder="Number:">
    </div>
    <div class="form-group password">
      <label for="password"></label>
      <input type="password" name="password" required placeholder="Password:">
    </div>
    <div class="form-group confirmpassword">
      <label for="confirm-password"></label>
      <input type="password" name="confirm-password" required placeholder="Confirm Password:">
    </div>
    <div class="login-route">
      <span>Already have an account? <a routerLink="/login">Login</a></span>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
</html>