<!doctype html>
<html lang="en">
    <section id="rooms" class="rooms">
        <div class="conatiner">
            <h5 class="section-head">
                <span class="heading">Explore</span>
                <span class="sub-heading">Our Beautiful Hotel</span>
            </h5>
            <div class="grid-container">
                <div class="grid">
                    <div class="grid-item featured-hotels">
                        <img src="assets/angular/images/hotel_astro_resort.jpg" alt="" class="hotel-image">
                        <h5 class="hotel-name">Single</h5>
                        <span class="hotel-price price-spacing">From 150$/Night</span>
                        <!-- <div class="hotel-rating">
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star-half rating"></i>
                        </div> -->
                        <a href="#" class="btn btn-gradient">Book Now
                            <span class="dots">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item featured-hotels">
                        <img src="assets/angular/images/hotel_the_enchanted_garden.jpg" alt="" class="hotel-image">
                        <h5 class="hotel-name">Double</h5>
                        <span class="hotel-price price-spacing">From 250$/Night</span>
                        <!-- <div class="hotel-rating">
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                        </div> -->
                        <a href="#" class="btn btn-gradient">Book Now
                            <span class="dots">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item featured-hotels">
                        <img src="assets/angular/images/hotel_the_paradise.jpg" alt="" class="hotel-image">
                        <h5 class="hotel-name">Suite</h5>
                        <span class="hotel-price price-spacing">From 300$/Night</span>
                        <!-- <div class="hotel-rating">
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star rating"></i>
                            <i class="fas fa-star-half rating"></i>
                        </div> -->
                        <a href="#" class="btn btn-gradient">Book Now
                            <span class="dots">
                                <i class="fas fa-ellipsis-h"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>
