@font-face {
    font-family: ibara;
    src: url(../font/Ibarra.ttf)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ibara , monospace ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height:80px;
    color: white;
}

.manage button {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    margin: 10px;
    transition: 0.2s;
}

.tables {
    width: 100%;
    position: absolute;
    top:12%;
}

.tables table {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
} tr {
    height: 34px;
} 
.tables table button {
    width:50%;
    height: 30px;
    font-size: 90%;
    border: 2px solid white;
    color: white;
    background-color: crimson;
    transition: 0.1s;
}
.tables table button:hover {
    border: 2px solid crimson;
    color: crimson;
    background-color: white;
}

th:nth-child(1),
td:nth-child(1) {
  width: 30%;
  padding-left: 4px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 15%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 15%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}

.tables table tr:nth-child(even) {
    background-color: #ddd;
  }

#availablerooms {
  display: none;
}
body {
    background-color: rgba(228, 229, 230 , 1);
}
