@font-face {
    font-family: ibara;
    src: url(../font/Ibarra.ttf)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ibara , monospace ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height:80px;
    color: white;
}

.manage button {
    width: 130px;
    height: 40px;
    background: transparent;
    border: 3px solid white;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    margin: 10px;
    transition: 0.2s;
}

.tables {
    width: 100%;
    position: absolute;
    top:12%;
}

.tables table {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
} tr {
    height: 34px;
} 
.tables table button {
    width:50%;
    height: 30px;
    font-size: 90%;
    border: 2px solid white;
    color: white;
    background-color: crimson;
    transition: 0.1s;
}
.tables table button:hover {
    border: 2px solid crimson;
    color: crimson;
    background-color: white;
}
.tables button {
    width:6%;
    height: 30px;
    font-size: 120%;
    border: 2px solid crimson;
    color: crimson;
    background-color: white;
    transition: 0.1s;
    margin-top:20px;
    margin-left: 47%;
    transition: 0.2s;
}

.tables button:hover {
    border: 2px solid crimson;
    color: white;
    background-color: crimson;
}
th:nth-child(1),
td:nth-child(1) {
  width: 30%;
  padding-left: 4px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 15%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 15%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}

.tables table tr:nth-child(even) {
    background-color: #ddd;
  }

#availablerooms {
  display: none;
}
#user {
  display:none;
}

.forms {
  font-size: 120%;
  background-color: crimson;
  margin:auto;
  width: 35%;
  padding: 40px;
  position: absolute; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 90px;
}
.forms .viewlabel {
  margin: auto;
  display: inline-block;
  color: white;
}
.datelabel{
  display:inline-block;
  color: white;
}
.forms select , .forms input[type=text] , .forms input[type=date] , .forms input[type=tel] , .forms input[type=number] {
  width: 80%;
  background-color: rgba(104, 11, 30, 0.629);
  display: inline-block;
  margin: auto;
  margin-top:10%;
  margin-bottom:5%;
  height: 40px;
  color: white;
  font-size: 90%;
}
.forms button {
  display:inline-block;
  margin: auto;
  margin-top: 10%;
  width: 45%;
  height: 30px;
  font-size: 110%;
  background-color: white;
  color:crimson;
  border: 2px solid white;
  transition: 0.2s;
}
.forms button:hover {
  width: 47%;
  height: 33px;
  margin-top: 9.8%;
}

#visitmanager {
  display: none;
}
textarea {
  width: 90%;
  height:260px;
  resize: none;
  font-size: 100%;
}
body {
    background-color: rgba(228, 229, 230 , 1);
}
