<!DOCTYPE html>
<html lang="en">
    <section class="room top" id="room">
        <div class="container">
          <div class="heading_top flex1">
            <div class="heading">
              <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
              <h2>Rooms $ Suites</h2>
            </div>
            <div class="button">
              <button class="btn1">VIEW ALL</button>
            </div>
          </div>
    
          <div class="content grid">
            <div class="box">
              <div class="img">
                <img src="/assets/angular/image/r1.jpg" alt="">
              </div>
              <div class="text">
                <h3>Superior Soble Rooms</h3>
                <p> <span>$</span>129 <span>/per night</span> </p>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <img src="/assets/angular/image/r2.jpg" alt="">
              </div>
              <div class="text">
                <h3>Superior Soble Rooms</h3>
                <p> <span>$</span>129 <span>/per night</span> </p>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <img src="/assets/angular/image/r3.jpg" alt="">
              </div>
              <div class="text">
                <h3>Superior Soble Rooms</h3>
                <p> <span>$</span>129 <span>/per night</span> </p>
              </div>
            </div>
          </div>
        </div>
    </section>    
</html>

