.contact-content{
    display: flex;
    justify-content: center;
}

.traveler-wrap{
    display: none;
}

.contact-form{
    width: 100%;
    background-image: var(--gradient-color);
    padding: 2.5rem;
}

.contact-form .input{
    display: block;
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #fff; /* Set the initial border-bottom to white */
    padding-left: 0;
}

.bar{
    display: block; /* Hide the .bar element */
    position: relative;
}

.contact-form .input:focus + .bar::after{
    border-bottom: 2px solid var(--purple-light); /* Change the border-bottom to purple when focused */
    transform: scaleX(1);
}


.bar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--purple-light);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

@media screen and (min-width: 768px){
    .header{
        height: 10rem;
    }
    .header.active{
        height: 6rem;
    }
    .title{
        font-size: 8rem;
    }
    .contact-content{
        justify-content: space-between;
    }
    .traveler-wrap{
        display: block;
        flex:0 0 45%;
    }
    .traveler-wrap img{
        width: 100%;
    }
    .contact-form{
        flex: 0 0 50%;
        align-self: flex-start;
    }
    .input-group-wrap{
        display:flex;
    }
    .input-group-wrap .input-group{
        width: 50%;
        margin-right: 2rem;
    }
    .input-group-wrap .input-group:last-child{
        margin-right: 0;
    }

    /* Footer Section */
    .footer{
        overflow-x: hidden;
    }

    .footer-content{
        display: flex;
    }
    .footer-content-brand{
        margin-bottom: 0;
        flex: 0 0 60%;
    }

    .footer .footer-paragraph{
        margin-top: 2.5rem;

    }

    .footer-heading{
        margin-bottom: 5rem;
    }

    .social-media-wrap{
        flex: 0 0 40%;
        margin-left: 2.5rem;
    }
}

@media screen and (min-width: 1000px){
    section:not(.booking){
        padding: 10rem 0;
    }

    .hamburger-menu{
        display: none;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        flex-direction: row;
        justify-content: initial;
        opacity: 1;
        transform: scale(1);
    }
    .nav-item:not(:last-child){
        margin-right: 3rem;
        margin-bottom: 0;
    }
    .nav-link{
        font-size: 1.3rem;
        font-weight: normal;
        transition: color .5s;
    }
    .nav-link:hover{
        color: var(--yellow-solid);
    }
    /* Hero section styles */
    .title{
        font-size: 12rem;
    }
    .subtitle{
        font-size: 4.6rem;  
    }

    .book-form{
        display: flex;
        justify-content: space-between;
    }

    .book-form .input-group{
        margin-bottom: 0;
    }

    .book-form .input-group:first-child{
        flex: 0 0 20%
    }

    .input,
    .options{
        min-width: 10rem;
    }

    /* Room section */
    .rooms-grid{
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 8rem;
    }
    .featured-rooms{
        flex-direction: row;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px){
    .book-form .input-group:first-child{
        flex: 0 0 30%
    }

}