<!doctype html>
<html lang="en">
    <section id="contact" class="contact">
        <div class="container">
            <h5 class="section-head">
                <span class="heading">Contact</span>
                <span class="sub-heading">Get in touch with Us</span>
            </h5>
            <div class="contact-content">   
                <img class="traveler-wrap" src="assets/angular/images/traveler.png" alt="">
            
                <form action="" class="form contact-form">
                    <div class="input-group-wrap">
                        <div class="input-group">
                            <input type="text" class="input" placeholder="Name">
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <input type="email" class="input" placeholder="E-mail">
                            <span class="bar"></span>
                        </div>
                    </div>
                        <div class="input-group">
                            <input type="text" class="input" placeholder="Subject">
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">
                            <textarea class="input" cols="30" rows="8"  placeholder="Name"></textarea>
                            <span class="bar"></span>
                        </div>
                        <button type="submit" class="btn form-btn btn-purple">Send Message 
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                        </button>
                </form>
            </div>
        </div>
    </section>
</html>
