<html lang="en">
  <mat-dialog-content>
    <button mat-icon-button class="close-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-content>
  <div class="header">
    <h2 class="center">Welcome</h2>
    <p class="center welcome">Edward V Hotel</p>
  </div>
  <div class="form-container">
    <form class="popup" #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
          placeholder="Ex. name@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') || emailFormControl.hasError('required')">
          {{ emailError }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
          placeholder="Password">
        <mat-error *ngIf="passwordError">
          {{ passwordError }}
        </mat-error>
      </mat-form-field> 
      <button class="popup-button" mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
  <div class="routes">
    <span>Don't have an account? </span><a (click)="openSignUpForm()">Sign Up</a>
  </div>
  <div class="routes">
    <a (click)="closePopup()" routerLink="/forgot-password">Forgot Password</a>
  </div>  
</html>