.form{
  align-items: center;
  justify-content: center;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.routes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.routes a {
  color: #8f50fb;
  font-weight: bold;
  text-decoration: none;
}

.routes a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.mat-form-field {
  margin-bottom: 20px;
}

.popup-button {
  align-self: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

button {
  margin-top: 16px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  margin-bottom: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 10px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
}

.form-group input:focus {
  outline: none;
  border-bottom-color: #8f50fb;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.btn {
  background-color: #8f50fb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6b2cbb;
}
