<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Available Rooms</title>
</head>

<body>
  <header>
    <h1>Available Rooms</h1>
  </header>
  <div *ngIf="noRoomsAvailable" class="no-avilable-rooms">
    <h2>Sorry, no rooms available for the selected dates.</h2>
  </div>
  <div *ngIf="roomsAvailable" class="room-info">
    <img src="{{ roomImageUrl }}" alt="Room Image">
    <div class="room-details">
      <h2>{{ roomType }}</h2>
      <h3>View: {{ roomView }}</h3>
      <p>{{ roomDescription }}</p>
      <p>Available Rooms: {{ availableRooms }}</p>
    </div>
  </div>

</body>

</html>


<!-- <div id="room-container">
    <div *ngFor="let room of rooms" class="room-box">
      <img src="{{ room.image }}" alt="{{ room.name }}">
      <h2>Room type: {{ room.name }}</h2>
      <h5> View: {{ room.view }}</h5>
      <p> Descirption: {{ room.description }}</p>
      <button>Book Now</button>
    </div>
  </div> -->